.app {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 1440px;
    min-width: 320px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

body {
    background-color: black;
}

.chartTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: white;
    text-align: center;
}